.popup__button-submit {
  align-self: center;
  background-color: #000;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 21.78px;
  opacity: 1;
  padding: 0;
  transition: opacity .4s ease-out;
  width: 358px;
}

.popup__button-submit:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 415px) {
  .popup__button-submit {
    font-size: 14px;
    height: 46px;
    line-height: 16.94px;
    width: 238px;
  }
}
