.elements {
  display: grid;
  gap: 20px 17px;
  margin-bottom: 66px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 900px) {
  .elements {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }
}

@media screen and (max-width: 600px) {
  .elements {
    margin-bottom: 48px;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
  }
}
