.header__logo {
  background-image: url(../../../images/Mesto.svg);
  width: 147px;
  height: 34px;
  background-size: cover;
  margin-bottom: 41px;
}

@media screen and (max-width: 490px) {
  .header__logo {
    margin-left: 27px;
    margin-top: 30px;
    width: 104px;
    height: 24px;
    margin-bottom: 40px;
    align-self: center;
  }
}
