.header__logo {
    margin-bottom: 36px;
}

@media screen and (max-width: 444px) {
    .header__logo {
        margin-left: 27px;
        width: 103px;
        height: 24px;
        margin-bottom: 26px;
    }
}