.place__name {
  align-self: center;
  font-size: 24px;
  font-weight: 900;
  justify-self: center;
  line-height: 29.05px;
  margin: 0 0 0 21px;
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
