.popup__close-button {
  background: rgba(0, 0, 0, 0) url("../../../images/popup__close-button_big.svg") no-repeat center center;
  border: 0;
  bottom: 4px;
  height: 32px;
  left: 234px;
  opacity: 1;
  padding: 0;
  position: relative;
  transition: opacity .4s ease-out;
  width: 32px;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 758px) and (min-width: 564px) {
  .popup__close-button {
    left: 232px;
  }
}

@media screen and (max-width: 563px) {
  .popup__close-button {
    bottom: 10px;
    left: 177px;
  }
}

@media screen and (max-width: 415px) {
  .popup__close-button {
    background-image: url("../../../images/popup__close-button_small.svg");
    left: 124px;
  }
}
