.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0;
  max-height: 23px;
  width: 358px;
}

@media screen and (max-width: 415px) {
  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
    width: 238px;
  }
}
