.popup__container-exit-button {
    height: 32px;
    width: 32px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/CloseIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    align-self: flex-end;
    margin-right: -40px;
    margin-bottom: 5px;
}

.popup__container-exit-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 1s ease;
  }

@media screen and (max-width: 490px) {
    .popup__container-exit-button{
        width: 20px;
        height: 20px;
        background-size: 20px;
        align-self: flex-end;
        margin-bottom: 16px;
        margin-right: 0px;
    }
  } 