.image-popup__image {
    display: flex;
    position: relative;
    margin: auto;
    align-items:center;
    justify-content: center;
    object-fit: cover;
    max-height:75vh;
    max-width:75vw;
}