.popup__button {
  margin: 18px 0 0;
  padding: 0;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, .8);
  transition: 0.3s linear;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .popup__button {
    min-height: 46px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}