.login__container {
  width: 430px;
  background-color: black;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 490px) {
  .login__container {
    width: 332px;
  }
}
