.footer {
  margin: 0 auto;
  max-width: 884px;
}

@media screen and (max-width: 920px) {
  .footer {
    margin: 0 40px;
  }
}

@media screen and (max-width: 372px) {
  .footer {
    margin: 0 auto;
    max-width: 282px;
  }
}
