.profile {
  align-items: center;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  margin: 0 auto 51px;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .profile {
    margin: 0 40px 51px;
  }
}

@media screen and (max-width: 758px) {
  .profile {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media screen and (max-width: 372px) {
  .profile {
    margin: 0 19px 36px;
  }
}
