.element__delete-button {
    background-image: url(./../../../images/Group.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.element__delete-button:hover {
    opacity: 0.6;
}