.profile__subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  grid-row: 2;
  line-height: 21.78px;
  margin: 0;
  max-width: 336px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 758px) {
  .profile__subtitle {
    justify-self: center;
    max-width: 217px;
  }
}

@media screen and (max-width: 372px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
  }
}
