.profile__add-button {
  align-self: center;
  background: #000 url("../../../images/profile__add-button_big.svg") no-repeat center center;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 50px;
  justify-self: end;
  opacity: 1;
  padding: 0;
  transition: opacity .4s ease-out;
  width: 150px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 758px) {
  .profile__add-button {
    width: 100%;
  }
}

@media screen and (max-width: 372px) {
  .profile__add-button {
    background-image: url("../../../images/profile__add-button_small.svg");
    justify-self: center;
    width: 282px;
  }
}
