.popup__container {
  padding: 34px 36px 36.5px;
  margin-top: 0;
  max-width: 430px;
  width: 100%;
  min-height: max-content;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 530px) {
  .popup__container {
    max-width: calc(100% - (50px * 2));
  }
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: calc(100% - (19px * 2));
    padding: 25px 22px;
  }
}