.popup__container {
  align-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: grid;
  height: 330px;
  justify-items: center;
  width: 430px;
}

@media screen and (max-width: 563px) {
  .popup__container {
    width: 390px;
  }
}

@media screen and (max-width: 415px) {
  .popup__container {
    width: 282px;
  }
}
