.elements__like-button{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Like.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    align-self: center;
    transition: opacity 1s ease;
}

.elements__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }