.profile__pen {
    background-image: url(./../../../images/Pen.svg);
    width: 26px;
    height: 26px;
    position: relative;
    left: -71px;
    z-index: 29;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
}

.profile__pen:hover {
    z-index: 100;
}

@media screen and (max-width: 690px) {
    .profile__pen {
        left: 0;
        top: -70px;
    }
}