.profile__info {
  display: grid;
  gap: 16px 18px;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(2, min-content);
}

@media screen and (max-width: 758px) {
  .profile__info {
    gap: 14px 10px;
    justify-content: center;
    margin-bottom: 36px;
    text-align: center;
  }
}
