.register__submit {
    margin-top: 216px;
    max-width: 358px;
    height: 50px;
    border-radius: 2px;
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: #FFF;
}

.register__submit:hover {
    opacity: 0.85;
}