@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/page/page.css);

/*HEADER*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/header/__container/header__container.css);

/*POPUP*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_card-removal/popup_card-removal.css);
@import url(./blocks/popup/__container/_remove-popup/popup__container_remove-popup.css);
@import url(./blocks/popup/_reset-avatar/popup_reset-avatar.css);
@import url(./blocks/popup/__container/_reset-avatar/popup__container_reset-avatar.css);

/*PROFILE*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info-wrapper/profile__info-wrapper.css);
@import url(./blocks/profile/__illustration/profile__illustration.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__illustration-wrapper/profile__illustration-wrapper.css);
@import url(./blocks/profile/__illustration-overlay/profile__illustration-overlay.css);
@import url(./blocks/profile/__illustration-redact/profile__illustration-redact.css);

/*ELEMENTS*/
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__info/elements__info.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__info-container/elements__info-container.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like-count/elements__like-count.css);
@import url(./blocks/elements/__delete/_hidden/elements__delete_hidden.css);

/*FOOTER*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/*JS TEMPLATE CARDS*/
@import url(./blocks/elements/__illustration/elements__illustration.css);
@import url(./blocks/elements/__delete/elements__delete.css);

/*JS LIKE*/
@import url(./blocks/elements/__like/_active/elements__like_active.css);

/*popup_press-image*/
@import url(./blocks/popup/_press-image/popup_press-image.css); /*DELETE?*/
@import url(./blocks/popup/__wrapper/popup__wrapper.css);
@import url(./blocks/popup/__illustration/popup__illustration.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);

@import url(./blocks/popup/__field/_type/popup__field_type_link.css);
@import url(./blocks/popup/__field/_type/popup__field_type_place.css);

@import url(./blocks/submit-invalid/submit-invalid.css);
@import url(./blocks/popup/__field/_invalid/popup__field_invalid.css);
@import url(./blocks/error/error.css);

@import url(./blocks/circ/circ.css);
