.container__footer {
    margin: 0 auto 0px;
    padding: 0 0 60px;
}

@media screen and (max-width: 928px) {
    .container__footer {
        margin: 0 24px 60px;
    }
}

@media screen and (max-width: 444px) {
    .container__footer {
        margin: 0 19px 36px;
    }
}