.profile__info-wrapper {
    display: flex;
    align-content: center;
    gap: 30px;
}



@media screen and (max-width: 900px) {
    .profile__info-wrapper {
        margin: auto;
    }
}

@media screen and (max-width: 620px) {
    .profile__info-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__info-wrapper {
        gap: 26px;
    }
}