.container__elements {
    margin: 51px auto 68px;
}

@media screen and (max-width: 927px) {
    .container__elements {
        margin: 51px auto 51px;
    }
}


@media screen and (max-width: 629px) {
    .container__elements {
        margin: 51px 24px 51px;
    }
}


@media screen and (max-width: 444px) {
    .container__elements {
        margin: 36px 19px 48px;
    }
}