
.logo {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
  }
}