.login__submit-button {
    height: 50px;
  left: 461px; 
  background: #FFFFFF;
  border-radius: 2px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 216px;
}