.profile__edit-button {
    background-image: url(./../../../images/Pen.svg);
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 0px 0 0 18px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
  }

@media screen and (max-width: 444px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-left: 10px;
    }
}