.popup__name {
    margin: 54px auto 0 auto;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 358px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 17px;
}

.popup__name:last-of-type {
    margin-top: 30px;
}

@media screen and (max-width:540px) {
    .popup__name {
        max-width: 238px;
        margin-top: 75px;
    }
}