.page {
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 45px 0 22.5vh;
  position: relative;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


@media screen and (max-width: 372px) {
  .page {
    padding-bottom: 36px;
  }
}
